body {
  background: #C1E1C1;
}

.pages a:hover {
  color: #C1E1C1;
}

.content {
  display: grid;
}

.text {
  float: left;
  color: black;
  text-align: center;
  padding: 24px 30px;
  text-decoration: none;
}

.external a:hover{
  color: #C1E1C1;
}
