@font-face {
  font-family: Bronx;
  src: url(../my-stuff/Bronx_PersonalUse.otf);
}

body {
  font-family: Bronx;
  background: #bacdd9;
  margin: 0;
}

.navbar {
  font-size: 50px;
  text-align: center;
}

.navbar a {
  padding: 24px 30px;
  float: right;
  color: #515752;
  background: white;
}

.navbar a.left {
  float: left;
  font-weight: bold;
  color: black;
}

.navbar a:link {
  text-decoration: none;
}
