@font-face {
  font-family: Bronx;
  src: url(../sescaro-site/Bronx_PersonalUse.otf);
}

body {
  font-family: Bronx;
  text-align: center;
  background: #bacdd9;
  margin: auto;
}

.footnote {
  display: flex;
  font-size: 25px;
  background: white;
  gap: 30px;
  bottom: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  padding: 24px;
  font-weight: bold;
}

.header {
  background: white;
  top: 0;
  margin-top: 0;
  position: fixed;
}

div a {
  color: #515752;
  text-decoration: none;
}

div a:hover {
  color: #bacdd9;
}

div a.left {
  color: black;
}
