@font-face {
  font-family: Bronx;
  src: url(../my-stuff/Bronx_PersonalUse.otf);
}

body {
  font-family: Bronx;
  background: #bacdd9;
  margin: 0;
}

.left {
  float: left;
  font-weight: bold;
}

.bottom {
  bottom: 0;
  font-size: 25px;
  padding: 14px 20px;
  background: white;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background: white;
  font-size: 40px;
}

li {
  float: right;
}

li a {
  display: block;
  color: #515752;
  text-align: center;
  padding: 24px 30px;
}

li a:link {
  text-decoration: none;
}

li a:hover {
  color: #bacdd9;
}

li a.left {
  color: black;
  text-decoration: none;
}
