.homeTitle {
  font-size: 50px;
  font-weight: bold;
  background: white;
  padding: 24px 30px;
  margin: auto;
}

.homeTitle a {
  color: black;
}

.homeTitle a:link {
  text-decoration: none;
}

.tabs {
  display: inline-block;
  font-size: 40px;
  line-height: 3;
}

.tabs a {
  color: #515752;
}

.tabs a:link {
  text-decoration: none;
}

.tabs a:hover {
  color: white;
}
