.homeTitle {
  font-size: 50px;
  font-weight: bold;
  background: white;
  padding: 24px;
}

.homeTitle a {
  color: black;
}

.homeTitle a:link {
  text-decoration: none;
}

.tabs {
  display: block;
  margin: auto;
  font-size: 40px;
  line-height: 3;
  transform: translateY(32%);
}

.tabs a {
  color: #515752;
}

.tabs a:link {
  text-decoration: none;
}

.tabs a:hover {
  color: white;
}

.external a:hover {
  color: #bacdd9;
}
