@font-face {
  font-family: Bronx;
  src: url(../my-stuff/Bronx_PersonalUse.otf);
}

body {
  font-family: Bronx;
  background: #F4F4F4;
}

.navbar {
  font-size: 30px;
  text-align: center;
}

.navbar tab {
  padding: 14px 20px;
  float: right;
  text-align: center;
}

.navbar tab.left {
  float: left;
  font-size: 40px;
}
