@font-face {
  font-family: Bronx;
  src: url(../my-stuff/Bronx_PersonalUse.otf);
}

body {
  font-family: Bronx;
  background: #F4F4F4;
}

.navbar {
  font-size: 30px;
  text-align: center;
}

.navbar a {
  padding: 14px 20px;
  float: right;
  color: #515752;
}

.navbar a.left {
  float: left;
  font-weight: bold;
  color: black;
}

.navbar a:link {
  text-decoration: none;
}
