<!doctype html>
<html lang = "en-us">

<!--- head starts here--->
<head>
  <meta charset = "UTF-8">
  
  <link rel = "stylesheet" href = "../static/css/generalStylesheet.css">
  <link rel = "stylesheet" href = "../static/css/aboutStylesheet.css">
  
  <title>Sharlene Escaro - About</title>
  
</head>

<!--- body starts here --->
<body>

 <!--- Header Links --->
  <ul class = "navbar">
    <li class = "home">
      <a href = "../../index.html">Sharlene Escaro</a>
    </li>
    <li class = "pages">
       <a href = "codePage.html">Coding Projects</a>
    </li>
    <li class = "pages">
      <a href = "photographyPage.html">Photography</a>
    </li>
    <li class = "pages">
      <a href = "aboutPage.html">About</a>
    </li>
  </ul>
 
 <div class = "content">
     <div class="introText">
         <p>Hello!</p>
     </div>
     <img class="pic" src="../static/images/10-09-2021_005.jpg">
 </div>
 
 <!--- Bottom Links --->
  <ul class = "footer">
    <div class="external">
          <a href = "https://github.com/sescaro">GitHub</a>
    </div>
    <li class = "external">
      <a href = "https://grainery.app/u/sescaro">Grainery</a>
    </li>
    <li class = "external">
      <a href = "https://www.instagram.com/sescarophoto/">Instagram</a>
    </li>
    <li class = "external">
      <a href = "https://www.linkedin.com/in/sharlene-anne-escaro-71398b204/">LinkedIn</a>
    </li>
  </ul>
</body>
</html>
