<!doctype html>
<html lang = "en-us">

<!--- head starts here--->
<head>
  <meta charset = "UTF-8">
  
  <link rel = "stylesheet" href = "../static/css/generalStylesheet.css">
  <link rel = "stylesheet" href = "../static/css/homeSiteStylesheet.css">
  
  <title>Sharlene Escaro - Homepage</title>
  
</head>

<!--- body starts here --->
<body>
<!--- top navbar --->
  <div class = "homeTitle">
    <a href = "index.html" class="title">Sharlene Escaro</a>
  </div>
  <div class = "tabs">
    <div>
      <a href = "aboutPage.html">About</a>
    </div>
    <div>
      <a href = "photographyPage.html">Photography</a>
    </div>
    <div>
      <a href = "codePage.html">Coding Projects</a>
    </div>
  </div>
  
  <!--- bottom navbar --->
  <div class = "footer">
    <!--- <div>
      <a class = "title">Let's connect: </a>
    </div> --->
    <div class="external">
      <a href = "https://grainery.app/u/sescaro">Grainery</a>
    </div>
    <div class="external">
      <a href = "https://www.instagram.com/sescarophoto/">Instagram</a>
    </div>
    <div class="external">
      <a href = "https://www.linkedin.com/in/sharlene-anne-escaro-71398b204/">LinkedIn</a>
    </div>
  </div>
</body>
</html>
