body {
  background: #C1E1C1;
}

.pages a:hover {
  color: #C1E1C1;
}

.pic {
    grid-area: photo;
    max-width: 16%;
    padding: 30px;
}

.introText {
   grid-area: intro;
   padding-left: 30px;
}

.content {
  display: grid;
  grid-template-areas:
       'intro photo';
  justify-content: center;
  align-items: center;
  margin: 40px;
  background-color: white;
  border-radius: 25px;
}

.text {
  float: left;
  color: black;
  text-align: center;
  padding: 24px 30px;
  text-decoration: none;
}

.external a:hover{
  color: #C1E1C1;
}
