@font-face {
  font-family: Bronx;
  src: url(../fonts/Bronx_PersonalUse.otf);
}

body {
  font-family: Bronx;
  text-align: center;
  margin: auto;
}

.navbar {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
  font-size: 40px;
  font-weight: bold;
}

.pages a {
  float: right;
  color: #515752;
  padding: 24px 30px;
  text-decoration: none;
}

.home a {
  float: left;
  color: black;
  padding: 24px 30px;
  text-decoration: none;
}

.footer {
  display: flex;
  font-size: 20px;
  background: white;
  gap: 30px;
  bottom: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  padding: 24px;
  font-weight: bold;
  list-style-type: none;
  justify-content: center;
}

.external a {
  color: #515752;
  text-decoration: none;
}

.title {
  color: black;
}
