body {
  background: #bacdd9;
}

.homeTitle {
  font-size: 40px;
  font-weight: bold;
  background: white;
  padding: 24px;
}

.homeTitle a {
  color: black;
}

.homeTitle a:link {
  text-decoration: none;
}

.tabs {
  display: block;
  margin: auto;
  font-size: 40px;
  line-height: 3;
  transform: translateY(27%);
}

.tabs a {
  color: #515752;
}

.tabs a:link {
  text-decoration: none;
}

.tabs a:hover {
  color: white;
}

.pages a:hover {
  color: #bacdd9;
}

.noBulletPoint{
    list-style-type: none;
}

.msg{
    grid-area: message;
    margin-right: 30px;
    text-align: left;
}

.item2{
    grid-area: welcomeGIF;
    max-height: 90%;
    margin-left: 30px;
}

.container{
    display: grid;
    grid-template-areas:
        'welcomeGIF message';
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: white;
    border-radius: 25px;
}

.external a:hover {
  color: #bacdd9;
}
