body {
  background: #bacdd9;
}

.pages a:hover {
  color: #bacdd9;
}

.noBulletPoint{
    list-style-type: none;
}

.msg{
    grid-area: message;
    padding-right: 30px;
    text-align: left;
}

.gif{
    grid-area: welcomeGIF;
    max-height: 90%;
    padding-left: 30px;
}

.container{
    display: grid;
    grid-template-areas:
        'welcomeGIF message';
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: white;
    border-radius: 25px;
}

.external a:hover {
  color: #bacdd9;
}

@media screen and (max-width: 960px) {
    .gif{
        padding-top: 30px;
        padding-left: 0;
    }
    .msg {
        padding-bottom: 30px;
    }
    .container{
        grid-template-areas:
            'welcomeGIF'
            'message';
        justify-items: center;
        margin-bottom: 80px;
    }
}